{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h3>Welcome to <strong>Blog fun</strong></h3>
    <div class="line"></div>
    <br>


    <div>
        <h1>What you can do?</h1>

        <li>
            <ul>- Read poeple's post.</ul>
            <ul>- Make your own posts.</ul>
            <ul>- Add images to your posts.</ul>
        </li>
    </div>
    <div class="line"></div>
    <br>


    <h5>For more information check out our <a href="{% url 'about' %}">About</a> Page</h5>
    <div class="line"></div>
    <br>
    

    <h5>Check out our blogs here- <a href="{% url 'posts:list' %}">Click here</a></h5>
    <div class="line"></div>


{% endblock %}